@font-face {
  font-family: "Open Sans";
  src: url("https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body { font-family: 'Open Sans' !important; }
h1 { font-size: 20px; }

.flash-error {
  background-color: #DB7F80;
  text-align: center;
  font-size: 20px;
}

.flash-notice {
  background-color: #5DBB93;
  text-align: center;
  font-size: 20px;
}

.content {
  width: 980px;
  margin: auto;
  text-align: center;
}

.picture { height: 250px; }
.picture img { width: 250px; }

.witness-input {
  box-sizing: border-box;
  width: 45%;
  height: 45px;
  margin-top: 4px;
  padding: 0 0 0 16px;
  color: #34394c;
  font-size: 18px;
  line-height: 17px;
  background: white;
  border: solid 1px #d6d7db;
  border-radius: 2px;
}

.witness-submit {
  background: #29ad5c;
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  height: 32px;
  line-height: 32px;
  padding: 0px 20px;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;
  margin: 10px 0;
}

.divider {
  border-bottom: 2px solid #D6D7DB;
  height: 1px;
  width: 75%;
  text-align: center;
  margin: 40px auto;
}

@media (max-width: 980px) {
  .content { width: 100%; }
}
